@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #1976D2;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #283593;
    color: white;
  }
}

header {
  font-family: 'Noto Serif JP';
}

body {
  font-family: 'Noto Serif JP';
}

/*
.v-application,
.v-application__wrap,
.v-app,
.v-main {
  background-color: transparent !important;
  background: transparent !important;
}
*/